 .daj-add-product-content {
     display: flex;
     flex-direction: column;
     align-items: center;

     .daj-product-insert-method {
         display: flex;
         flex-direction: row;
         align-items: center;
         width: 100%;
         justify-content: center;
         gap: 20px;
     }

     .daj-insert-method-opt {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
         width: 150px;
         padding: 20px;
         background: black;
         border-radius: 8px;
         color: #fff;
         white-space: nowrap;
         cursor: pointer;
     }

     .daj-product-content-form {
         display: flex;
         flex-direction: column;
         width: 70%;
         border: 1px solid;
         border-radius: 8px;
         padding: 20px;
     }

     .daj-new-product-box {
         display: flex;
         flex-direction: column;
         width: 70%;
         border: 1px solid;
         border-radius: 8px;
         gap: 20px;
         padding: 20px;

         .daj-product-box-select {
             display: flex;
             flex-direction: row;
             align-items: center;
             justify-content: flex-start;
             gap: 5px;

             .daj-product-box-select-body {
                 padding: 3px;
             }
         }

         .daj-new-product-box-footer {
             display: flex;
             flex-direction: row;
             align-items: center;
             justify-content: flex-end;
             gap: 10px;

             button {
                 display: block;
                 background: #000;
                 color: #fff;
                 border-radius: 4px;
                 padding: 10px 15px;
                 cursor: pointer;
             }
         }
     }


     .daj-add-product-body {
         display: flex;
         flex-direction: column;
         align-items: start;
         width: 100%;
         gap: 15px;
     }

     .daj-add-more-product-hr {
         width: 100%;
         border: 1px solid;
     }

     .daj-add-product-main-data {
         display: flex;
         flex-direction: column;
         align-items: start;
         border-radius: 8px;
         width: 50%;
         gap: 15px;

         .daj-add-product-img-con {
             display: flex;
             flex-direction: column;
             align-items: flex-start;
             justify-content: flex-start;
             gap: 5px;
         }

         .daj-add-product-img {
             display: flex;
             flex-direction: row;
             align-items: center;
             justify-content: center;
             border: 1px solid;
             border-radius: 4px;
             padding: 5px;
             min-width: 100px;
             min-height: 100px;
             cursor: pointer;
         }

         .daj-add-product-img-inp {
             display: none;
         }

         .daj-product-data-right,
         .daj-product-data-left {
             display: flex;
             flex-direction: column;
             gap: 5px;
             width: 45%;
         }

         .daj-add-product-price,
         .daj-add-product-quantity,
         .daj-add-product-design,
         .daj-add-product-note {
             display: flex;
             flex-direction: column;
             align-items: flex-start;
             gap: 5px;
         }

         .daj-add-product-price-inp,
         .daj-add-product-quantity-inp,
         .daj-add-product-design-inp,
         .daj-add-product-note-inp {
             padding: 4px;
             width: 100%;
         }

         .daj-product-info-form {
             display: flex;
             flex-direction: column;
             gap: 5px;
         }

         .daj-product-info-header {}

         .daj-product-info-body {
             padding: 4px;
         }

         .daj-add-product-form {
             display: flex;
             flex-direction: row;
             align-items: flex-start;
             gap: 25px;
             width: 100%;
             min-width: 400px;
         }

         .daj-product-urgent-con {
             display: flex;
             flex-direction: column;
             align-items: flex-start;
             justify-content: flex-start;
             gap: 10px;
             width: 100%;

             .daj-urgent-date-inp {
                 padding: 5px;
             }
         }
     }

     .daj-add-product-footer {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: flex-end;
         padding: 10px;
         gap: 20px;

         .daj-product-submit {
             display: block;
             background: #000;
             color: #fff;
             border-radius: 4px;
             padding: 10px 15px;
             cursor: pointer;
         }
     }

     @media(max-width: 768px) {

         .daj-product-content-form,
         .daj-new-product-box {
             width: 90%;
         }
     }

     @media(max-width: 576px) {

         .daj-add-product-body {
             flex-direction: column;
         }

         .daj-add-product-other-data,
         .daj-add-product-main-data {
             width: 100%;
         }

         .daj-add-product-main-data {

             .daj-add-product-img {
                 min-width: 250px;
                 min-height: 250px;
             }

             .daj-add-product-img {
                 width: 100%;
             }

             .daj-add-product-form {
                 flex-direction: column;
                 width: 100%;
                 min-width: 100px;
             }

             .daj-product-data-right,
             .daj-product-data-left {
                 width: 100%;
             }
         }
     }
 }