.daj-main-dashbaord-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 30px;
    height: 70vh;

    .daj-dashbaord-morning {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .daj-dashbaord-morning-head {
            margin: 0;
            font-size: 35px;
        }

        .daj-dashbaord-user-data {
            font-size: 20px;
        }
    }

    .daj-dashbaord-quote-con {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background: #ffe3e7;
        padding: 20px;
        border-radius: 10px;
        width: 50%;

        .daj-dashbaord-quote-text {
            font-size: 20px;
            margin: 0;
            font-weight: 500;
            text-align: center;
            font-family: monospace;
        }

        .daj-dashbaord-quote-auth {
            font-size: 14px;
        }
    }

    @media(max-width:768px) {
        .daj-dashbaord-quote-con {
            width: 80%;
            padding: 15px;
        }
    }

    @media(max-width:576px) {
        .daj-dashbaord-quote-con {
            width: 100%;
        }

        .daj-dashbaord-quote-con .daj-dashbaord-quote-text {
            font-size: 16px;
        }
    }
}