.daj-product-catalog-print {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
    gap: 15px;
    z-index: 99;

    .daj-product-list-header-txt {
        margin: 5px 0px;
    }

    .daj-product-list-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .daj-product-list-header-con {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .daj-product-search-con {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
        }

        .daj-product-search-bar {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2px;
        }

        .daj-product-search-inp {
            padding: 5px;

            &::placeholder {
                opacity: 0.4;
            }
        }

        .daj-product-search-btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 5px 10px;
            background: #000;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
        }

        .daj-karigar-search {
            padding: 5px;
            min-width: 120px;
        }
    }

    .daj-share-catalog-act {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        gap: 10px;

        .daj-share-catalog-btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 15px;
            background: #000;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    }

    .daj-product-catalog-body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        width: 100%;

        .daj-catalog-product-outer {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            border-radius: 4px;
            width: 100%;
            border: 1px solid;
            overflow: hidden;
        }

        .daj-catalog-product-image {
            width: 100%;
            height: 100%;
        }

        .daj-catalog-select {
            position: absolute;
            z-index: 9;
        }

        .daj-product-img {
            width: 100%;
            height: 330px;
            object-fit: contain;
            background: #f2f2f2;
            border-radius: 4px;
        }

        .daj-catalog-product-data {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            gap: 0px;
            background: #fff;
            margin: 2px;
            border-radius: 8px;
            padding: 5px;
            z-index: 9;

            .daj-catalog-product-info {}
        }
    }

    @media(max-width:1200px) {
        .daj-product-catalog-body {
            grid-template-columns: repeat(3, 1fr);
        }

    }

    @media(max-width:1024px) {
        .daj-product-catalog-body .daj-product-img {
            height: 230px;
        }
    }

    @media(max-width:768px) {
        .daj-product-catalog-body {
            grid-template-columns: repeat(3, 1fr);

            .daj-product-img {
                height: 175px;
            }
        }
    }

    @media(max-width:576px) {
        .daj-product-catalog-body {
            grid-template-columns: repeat(2, 1fr);
        }

        .daj-product-catalog-body .daj-product-img {
            height: 200px;
        }
    }
}